body {
  background-color: purple ;
}

a{
  color: aqua
}

/* maybe use google fonts? */
p {
  font-family: ;
  color: aqua;
}

h1 {
  color: ;
}

h2 {
  color: ;
}

.quote {
  font-family: 'DM Serif Text', serif;
  font-size: 200%;
  text-align: center;
}