/* .quote{
    text-decoration: underline;
   
    text-align: center;
    font-family:fantasy;
    border: rgb(22, 188, 194);
    border-style:double;
} */

.form1 {
    text-align: left;
    font-family:fantasy;
    border: #2b6777;
    border-style:double;
    color: #2b6777;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    border-style: groove;
    background-color: #2b6777;
}

.contactinfo {
    color: white;
    font-family:fantasy;
    font-size: larger;
    text-align: left;
}

.address1, .address2, .email, .phone {
    color: white;
}



 

